body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #e6e9ed;
}

.page-title {
  outline: none;
}

.home {
  padding: 30px;
}

ul {
  padding-left: 0px;
}